<div class="post" >
  <div class="header" >
    <h1>Post Title</h1>

    <button  routerLink="/" class="btn btn-link" >Home</button>
  </div>

  <div class="info">
    <strong>Autor</strong>
    <small>15.02.1215</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugiat fugit laboriosam nihil, odio odit quaerat quasi quia quibusdam unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugiat fugit laboriosam nihil, odio odit quaerat quasi quia quibusdam unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugiat fugit laboriosam nihil, odio odit quaerat quasi quia quibusdam unde?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugiat fugit laboriosam nihil, odio odit quaerat quasi quia quibusdam unde?</p>
  </div>
</div>
