<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new post</h1>

  <div
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    class="form-control">
    <label for="title">Title post:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation">
      <small *ngIf="form.get('email').errors.required">Please enter title</small> scscs
    </div>
  </div>

  <div class="form-control">
    <label>Content post:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
    class="form-control">
    <label for="author">Author post:</label>
    <input id="author" type="text" formControlName="author">
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation">
      <small *ngIf="form.get('author').errors.required">Please enter author</small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Create post
  </button>

</form>
